apiVersion: v1
kind: Secret
metadata:
  name: keycloak-secrets
  namespace: medisecure
type: Opaque
stringData:
  admin-username: admin
  admin-password: CHANGE_ME_ADMIN_PASSWORD
  db-username: keycloak_user
  db-password: CHANGE_ME_DB_PASSWORD
---
apiVersion: v1
kind: Secret
metadata:
  name: kong-secrets
  namespace: medisecure
type: Opaque
stringData:
  db-username: kong
  db-password: CHANGE_ME_KONG_DB_PASSWORD
