apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-secret
type: Opaque
stringData:
  RABBITMQ_USER: "rabbitmq_user"
  RABBITMQ_PASSWORD: "CHANGE_THIS_PASSWORD_IN_PRODUCTION"
  RABBITMQ_ERLANG_COOKIE: "CHANGE_THIS_COOKIE_IN_PRODUCTION"
---
apiVersion: v1
kind: Secret
metadata:
  name: redis-secret
type: Opaque
stringData:
  REDIS_PASSWORD: "CHANGE_THIS_PASSWORD_IN_PRODUCTION"
