apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
type: Opaque
stringData:
  MONGO_ROOT_USERNAME: "mongo_admin"
  MONGO_ROOT_PASSWORD: "CHANGE_THIS_PASSWORD_IN_PRODUCTION"
---
apiVersion: v1
kind: Secret
metadata:
  name: minio-secret
type: Opaque
stringData:
  MINIO_ROOT_USER: "minio_admin"
  MINIO_ROOT_PASSWORD: "CHANGE_THIS_PASSWORD_IN_PRODUCTION"
---
apiVersion: v1
kind: Secret
metadata:
  name: mariadb-secret
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: "CHANGE_THIS_PASSWORD_IN_PRODUCTION"
  MYSQL_USER: "mariadb_user"
  MYSQL_PASSWORD: "CHANGE_THIS_PASSWORD_IN_PRODUCTION"
