apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
stringData:
  POSTGRES_DB: "medisecure"
  POSTGRES_USER: "medisecure_user"
  POSTGRES_PASSWORD: "CHANGEZ_MOI_EN_PRODUCTION"
---
apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
type: Opaque
stringData:
  JWT_SECRET_KEY: "CHANGEZ_MOI_GENEREZ_UNE_CLE_SECRETE_FORTE"
  DATABASE_URL: "postgresql://medisecure_user:CHANGEZ_MOI_EN_PRODUCTION@db-service:5432/medisecure"
---
apiVersion: v1
kind: Secret
metadata:
  name: pgadmin-secret
type: Opaque
stringData:
  PGADMIN_DEFAULT_EMAIL: "admin@medisecure.com"
  PGADMIN_DEFAULT_PASSWORD: "CHANGEZ_MOI_EN_PRODUCTION"
